<div nz-row [nzGutter]="20">
  <div nz-col [nzSm]="8">
    <nz-card [nzTitle]="cardTitle" [nzExtra]="extraTemplate" [nzLoading]="!selectedSubSystem" class="main-content-panel-height">
      <ng-template #cardTitle>
        <app-sub-system-chooser (changeSubSystemEvent)="resourceChangeSubSystemEvent($event)"></app-sub-system-chooser>
      </ng-template>
      <nz-tree [nzData]="nodes"
               #treeCom
               [nzAsyncData]="true"
               (nzClick)="nzClick($event)"
               (nzExpandChange)="expandEvent($event)">
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node un-selectable" [class.active]="activedNode?.origin.id===node?.origin.id">
            <i nz-icon [type]="node.origin.icon"></i>
            <span class="folder-name">{{node?.origin?.name}}</span>
          </span>
        </ng-template>
      </nz-tree>
    </nz-card>
    <ng-template #extraTemplate>
      <nz-button-group nzSize="small">
        <button nz-button nzType="primary" (click)="addOrg()" [disabled]="!selectedSubSystem">
          <i nz-icon type="plus-circle-o"></i>
        </button>
        <button nz-button nzType="danger" (click)="deleteOrg()" [disabled]="!activedNode">
          <i nz-icon type="minus-circle-o"></i>
        </button>
      </nz-button-group>
    </ng-template>
  </div>
  <div nz-col [nzSm]="16">
    <nz-card nzTitle="属性设置" [nzLoading]="!activedNode || activedNode.key == 'root'">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
            <span>名称</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="name"
                   placeholder="请输入组织名称"/>
            <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">
              名称不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
            <span>URL</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="url"
                   placeholder="请输入URL"/>
            <nz-form-explain *ngIf="validateForm.get('url').dirty&&validateForm.get('url').errors">
              URL不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
            <span>类型</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-select formControlName="type" nzPlaceHolder="请选择类型">
              <nz-option [nzValue]="1" nzLabel="菜单"></nz-option>
              <nz-option [nzValue]="2" nzLabel="按钮"></nz-option>
              <nz-option [nzValue]="3" nzLabel="操作请求"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('type').dirty&&validateForm.get('type').errors">
              类型不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <span>排序</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input-number formControlName="orderNo" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                             placeholder="请输入序号"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <span>图标</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="icon"
                   placeholder="请输入图标"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            备注
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <textarea formControlName="info" nz-input rows="2" placeholder="写点备注说明一下"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="saveOrg()"
                    [disabled]="!validateForm.valid">保存
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
