<div nz-row [nzGutter]="20">
  <div nz-col [nzSm]="8">
    <nz-card nzTitle="组织架构" [nzExtra]="extraTemplate">
      <nz-tree [nzData]="nodes"
               #treeCom
               [nzAsyncData]="true"
               (nzClick)="nzClick($event)"
               (nzExpandChange)="mouseAction('expand',$event)">
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" [class.active]="activedNode?.origin.id===node?.origin.id">
          <span *ngIf="!node.isLeaf">
            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'"></i>
            <span class="folder-name">{{node?.origin?.name}}</span>
          </span>
          <span *ngIf="node.isLeaf">
            <i nz-icon type="file"></i>
            <span class="file-name">{{node?.origin?.name}}</span>
          </span>
          </span>
        </ng-template>
      </nz-tree>
    </nz-card>
    <ng-template #extraTemplate>
      <nz-button-group nzSize="small">
        <button nz-button nzType="primary" (click)="addOrgTemp()">
          <i nz-icon type="plus-circle-o"></i>
        </button>
        <button nz-button nzType="danger">
          <i nz-icon type="minus-circle-o"></i>
        </button>
      </nz-button-group>
    </ng-template>
  </div>
  <div nz-col [nzSm]="16">
    <nz-card nzTitle="详情" [nzLoading]="orgPropLoading">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
            <span>名称</span>
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input formControlName="id" hidden/>
            <input nz-input formControlName="name"
                   placeholder="请输入组织名称"/>
            <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">
              名称不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            备注
          </nz-form-label>
          <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <textarea formControlName="info" nz-input rows="2" placeholder="写点备注说明一下"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="saveOrg()"
                    [disabled]="!validateForm.valid">保存
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
