<div class="row">
  <div class="col-sm-12 col-lg-3">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title">组织架构</span>
          <div class="rightOperatePlat">
            <button pButton type="button" icon="fa-plus" pTooltip="添加" class="ui-button-info"></button>
            <button pButton type="button" icon="fa-pencil" pTooltip="编辑" class="ui-button-warning"></button>
            <button pButton type="button" icon="fa-minus" pTooltip="删除" class="ui-button-danger"></button>
          </div>
        </div>
      </p-header>
      <p>
        <p-tree
          [value]="orgTree"
          selectionMode="single"
          [(selection)]="selectedNode"
          (onNodeSelect)="nodeSelect($event)"
          [loading]="treeLoading"
          loadingIcon="fa-circle-o-notch"></p-tree>
      </p>
    </p-panel>
  </div>
  <div class="col-sm-12 col-lg-9">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title">组织信息</span>
        </div>
      </p-header>
      <div class="container-fluid">
        <form [formGroup]="validateForm">
          <div class="form-group row"
               [ngClass]="{ 'has-error': getFormControl('name').dirty&&getFormControl('name').hasError('required') }">
            <label class="col-sm-2 col-form-label text-right">名称：</label>
            <div class="col-sm-10">
              <input formControlName="name" [(ngModel)]="org.name" type="text" class="form-control"
                     placeholder="请输入名称...">
              <div *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')"
                   class="text-danger">名称必须输入！
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-offset-2">
              <button type="submit" [disabled]="validateForm.pristine" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </p-panel>
  </div>
</div>
