.login-screen {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  background-color: #f0f2f5;
  .sys-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 32px;
    img {
      border: 1px solid #555;
    }
  }

  .login-form-container {
    padding: 30px;
  }
}
