<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<button (click)="login()">登录</button>

<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Username">
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">$</span>
      <input type="text" pInputText placeholder="Price">
      <span class="ui-inputgroup-addon">.00</span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">www</span>
      <input type="text" pInputText placeholder="Website">
    </div>
  </div>
</div>

<h3>Multiple Addons</h3>
<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
      <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>
      <input type="text" pInputText placeholder="Price">
      <span class="ui-inputgroup-addon">$</span>
      <span class="ui-inputgroup-addon">.00</span>
    </div>
  </div>
</div>

<h3>Button Addons</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <button pButton type="button" label="Search"></button>
      <input type="text" pInputText placeholder="Keyword">
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Keyword">
      <button pButton type="button" icon="fa-superpowers" class="ui-button-secondary"></button>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
      <input type="text" pInputText placeholder="Vote">
      <button pButton type="button" icon="fa-close" class="ui-button-danger"></button>
    </div>
  </div>
</div>

<h3>Checkbox and RadioButton</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
      <input type="text" pInputText placeholder="Username">
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Price">
      <span class="ui-inputgroup-addon"><p-radioButton></p-radioButton></span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
      <input type="text" pInputText placeholder="Website">
      <span class="ui-inputgroup-addon"><p-radioButton></p-radioButton></span>
    </div>
  </div>
</div>
