<nz-table #nzTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="dataSet"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
  <thead nz-thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th nz-th nzCheckbox>
      <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
             (ngModelChange)="_checkAll($event)">
      </label>
    </th>
    <th nz-th><span>登录名</span></th>
    <th nz-th><span>年龄</span></th>
    <th nz-th><span>邮箱</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td nzCheckbox>
      <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
      </label>
    </td>
    <td nz-td>{{data.username}}</td>
    <td nz-td>{{data.age}}</td>
    <td nz-td>{{data.email}}</td>
  </tr>
  </tbody>
</nz-table>
