<form nz-form [formGroup]="validateForm">
  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      <span>子系统名称</span>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <input nz-input formControlName="name"
             placeholder="请输入子系统名称"/>
      <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">
        子系统名称不能为空！
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      <span>子系统访问路径</span>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <input nz-input formControlName="url"
             placeholder="请输入子系统访问路径"/>
      <nz-form-explain *ngIf="validateForm.get('url').dirty&&validateForm.get('url').errors">
        子系统访问路径不能为空！
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      备注
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
      <textarea formControlName="info" nz-input rows="2" placeholder="写点备注说明一下"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
